@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Mokoto';
  src: url(../src/assets/fonts/MokotoGlitch.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #11122D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
button{
font-family: 'Roboto', sans-serif;
background: transparent;
outline: none;
border: none;
color: #ffffff;
font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
